.client-client {
  gap: var(--dl-space-space-threeunits);
  width: 600px;
  display: flex;
  position: relative;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  border-bottom-width: 1px;
}
.client-text {
  color: #ffffff;
  font-size: 25px;
  font-family: "Verdana";
  line-height: 44px;
}
.client-author {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.client-avatar {
  width: 60px;
  height: 60px;
  display: none;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.client-details {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.client-text1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 30px;
}
.client-text2 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  line-height: 30px;
}
.client-root-class-name {
  width: 450px;
  height: auto;
}



@media(max-width: 1600px) {
  .client-text2 {
    text-align: left;
  }
  .client-root-class-name {
    width: 600px;
  }
}
@media(max-width: 1200px) {
  .client-root-class-name {
    width: 600px;
  }
}
@media(max-width: 991px) {
  .client-client {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .client-text {
    font-size: 20px;
    line-height: 24px;
  }
  .client-author {
    gap: var(--dl-space-space-unit);
  }
  .client-avatar {
    width: 40px;
    height: 40px;
  }
  .client-details {
    justify-content: flex-start;
  }
  .client-text1 {
    font-size: 20px;
    line-height: 24px;
  }
  .client-text2 {
    font-size: 20px;
    line-height: 24px;
  }
  .client-root-class-name {
    width: 100%;
  }
}
@media(max-width: 737px) {
  .client-text {
    text-align: center;
  }
  .client-author {
    margin: auto;
  }
  .client-text1 {
    text-align: center;
  }
  .client-text2 {
    text-align: center;
  }
  .client-root-class-name1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .client-details {
    margin: auto;
    text-align: center;
  }
  .client-text2 {
    font-size: 15px;
    text-align: center;
  }
  .client-root-class-name1 {
    align-self: center;
  }
  .client-root-class-name2 {
    width: 100%;
    align-self: center;
  }
  .client-root-class-name3 {
    align-self: center;
  }
}
